**
!.dockerignore
!Dockerfile
!LICENSE
!README.md
!pyproject.toml
!src/
!src/**/
!src/**/*.py
!src/vflash/data/*.json
!docker/
!docker/requirements-*.txt

**/__pycache__/
**/*.py[cod]
**/*.safetensors
**/*.pt
**/*.pth
